<%- include('./partials/header') %> 
<%- include('./partials/nav') %> 
          <div class="col-sm-6">
            <h1>Remove Item</h1>
          </div>
          <div class="col-sm-6">
            <div id="bt" class="float-sm-right">
              <div class="dt-buttons btn-group flex-wrap">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add">
                  <i class="fas fa-plus"></i>
                  Add Stuff Out
                </button>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <% if(typeof error != 'undefined'){ %> 
            <div class="alert alert-danger alert-dismissible">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <%= error %> 
            </div>
            <% } %> 
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Outgoing Goods Table</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="barangkeluar" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>No</th>
                      <th>Date & Time</th>
                      <th>Item Code</th>
                      <th>Item Name</th>
                      <th>Amount</th>
                      <th>Recipient</th>
                      <th>Input</th>
                      <% if(typeof locals.user != 'undefined') { %>
                      <th>Action</th>
                      <% } %> 
                    </tr>
                  </thead>
                  <tbody>
                    <% brgk.forEach((element, index)=> { %>
                    <tr>
                      <td><%= index+1%></td>
                      <td><%= moment(element.date).locale('id').format('DD-MM-YYYY HH:mm:ss') %></td>
                      <td><%= element.item_code %></td>
                      <td><%= element.item_name %></td>
                      <td><%= element.qty %></td>
                      <td><%= element.recipient %></td>
                      <td><%= element.input %></td>
                      <% if(typeof locals.user != 'undefined') { %>
                      <td>
                        <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#edit<%= element.id %>">
                          <i class="fas fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delete<%= element.id %>">
                          <i class="fas fa-trash-alt"></i>
                        </button>
                      </td>
                      <% } %> 
                    </tr>

                    <!-- Edit Modal -->
                    <div class="modal fade" id="edit<%= element.id %>">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <!-- Modal Header -->
                          <div class="modal-header">
                            <h4 class="modal-title">Edit Outgoing Goods</h4>
                            <button type="button" class="close" onclick="$('#edit<%= element.id %>').modal('hide');">&times;</button>
                          </div>
                          <!-- Modal body -->
                          <form action="/barangkeluar/<%= element.id %>?_method=put" method="post">
                            <div class="modal-body">
                              <input type="hidden" name="idkeluar" required value="<%= element.id %>"/>
                              <input type="hidden" name="idbarang" required value="<%= element.idbarang %>"/>
                              <div class="form-group">
                                <label for="qty">Amount</label>
                                <input type="number" name="qty" class="form-control" min="1" placeholder="Quantity" required value="<%= element.qty %>" />
                              </div>
                              <div class="form-group">
                                <label for="recipient">Recipient</label>
                                <input type="text" name="recipient" class="form-control" placeholder="Recipient" required value="<%= element.recipient %>" />
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="submit" class="btn btn-primary">Save</button>
                              <button type="button" class="btn btn-secondary" onclick="$('#edit<%= element.id %>').modal('hide');">Clear</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  
                    <!-- Delete Modal-->
                    <div class="modal fade" id="delete<%= element.id %>">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <!-- Modal Header-->
                          <div class="modal-header">
                            <h4 class="modal-title">Remove Outgoing Items</h4>
                            <button type="button" class="close" onclick="$('#delete<%= element.id %>').modal('hide');">&times;</button>
                          </div>
                          <!-- Modal body-->
                          <form action="/barangkeluar/delete/<%= element.id %>" method="post">
                            <div class="modal-body">
                              Are you sure you want to remove the item <%= element.item_name %> on date <%= moment(element.date).locale('id').format('DD-MM-YYYY [at] HH:mm:ss') %>?
                              <input type="hidden" name="idkeluar" required value="<%= element.id %>">
                              <input type="hidden" name="idbarang" required value="<%= element.idbarang %>">
                              <input type="hidden" name="qty" required value="<%= element.qty %>">
                            </div>
                            <div class="modal-footer">
                              <button type="submit" class="btn btn-primary">Yes</button>
                              <button type="button" class="btn btn-secondary" onclick="$('#delete<%= element.id %>').modal('hide');">Clear</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>

                    <% }) %>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>

    <!-- Add Modal -->
    <div class="modal fade" id="add">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Add Outgoing Items</h4>
            <button type="button" class="close" onclick="$('#add').modal('hide');stopScan();">&times;</button>
          </div>
          <!-- Modal body -->
          <form action="/barangkeluar" method="post">
            <div class="modal-body">
              <div class="form-group">
                <div id="reader"></div>
              </div>
              <div class="form-group">
                <label for="goods">Select Item</label>
                <select class="form-control select2bs4" id="goods" name="goods" required>
                  <option value="" disabled selected>Select Item</option>
                  <% brg.forEach((element)=> { %>
                  <% if(element.stock>0) { %> 
                  <option value="<%= element.idbarang %>"><%= element.item_code %> - <%= element.item_name %></option>
                  <% } else { %> 
                  <option value="<%= element.idbarang %>"><%= element.item_code %> - <%= element.item_name %> (Out of Stock)</option>
                  <% } %> 
                  <% }) %> 
                </select>
              </div>
              <div class="form-group">
                <label for="qty">Amount</label>
                <input type="number" name="qty" class="form-control" placeholder="Quantity" min="1" required />
              </div>
              <div class="form-group">
                <label for="recipient">Recipient</label>
                <input type="text" name="recipient" class="form-control" placeholder="Recipient" required />
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Save</button>
              <button type="button" class="btn btn-secondary" onclick="$('#add').modal('hide');stopScan();">Clear</button>
            </div>
          </form>
        </div>
      </div>
    </div>

<%- include('./partials/footer') %>
